name: CI
description: Run pre-commit hooks on every push and pull request to the main branch.

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pre-commit-hooks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: 0.7.1

    - name: Install dependencies
      run: |
        uv sync --locked --all-extras --dev

    - name: Run pre-commit hooks
      run: |
        uv run pre-commit run --all-files --show-diff-on-failure
